.novinky img {
    transition: all 0.2s ease-in-out;
}

.novinky img:hover {
    filter: brightness(50%);
}

.custom-carousel {
    position: relative;
    width: 90%;
    max-width: 900px;
    height: 350px;
    perspective: 1000px;
    overflow: hidden;
}

.custom-carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.custom-carousel-item {
    flex: 0 0 auto;
    width: 240px;
    height: 320px;
    background: #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform-origin: center;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.custom-carousel-item img {
    width: 240px;
    height: 320px;
    object-fit: cover;
}

.custom-carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.custom-carousel-button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.custom-carousel-item a {
    display: block;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #1a1a1a;
    padding-top: 0.1%;
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
}

footer h3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer h4 {
    padding: 0;
}

.texty {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-secondary {
    width: 200px;
}

body {
    transition: background-color 0.3s;
}
.sidebar {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}
.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.step-circle {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
}

.step-line {
    height: 4px;
}

#pocitadlo1 {
    width: 40px;
}

#prodejnakolonka,
#zasilkovnakolonka,
#domukolonka,
#holubkolonka,
#applepay,
#paypal,
#banprevod,
#googlepay
{background-color: #dadada;
 height: 150px;}

 #bank-form {background-color: #dadada;}
